.container {
  width: 320px;
  margin: 0 auto;
  background-color: $color-background-light;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $deafult-font;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  background-color: $color-background-body;
  color: #000000;
}
