// Colors
$darkgrey: #292929;
$lightgrey: #f8f5f2;

$blue--light: #abcdef;
$blue: #669ec0;
$color-background: #81b3d2;
$color-background-light: #ffffff;
$color-background-body: #e7e5e5;
$color-background-gray: #eeeeee;

// $blue--dark: ;
// $gray--lighter: ;
// $gray--light: ;
// $gray: ;
// $gray--dark: ;
// $gray--darken: ;

// $input-color: $gray--light;
// $input-color--focus: $gray;
// $input-color--active: $gray--dark;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

//Fonts
$deafult-font: "PT Sans", "Arial", sans-serif;
