.reviews {
}

.reviews__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 36px;
}

.reviews__text {
  color: #333333;
  text-align: center;
  margin-top: 36px;


}
